<h1>Hometowns</h1>

<div id="map" style="width:600px; height:450px;"></div>

<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4,
      center: { lat: 39.5, lng: -98.35 } // center of US
    });

    const geocoder = new google.maps.Geocoder();

    const addresses = <%= raw @list_of_hometowns.filter_map(&:address).to_json %>;

    addresses.forEach(function(address) {
      geocoder.geocode({ address: address }, function(results, status) {
        if (status === "OK") {
          new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            title: address
          });
        }
      });
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>

<article>
  <ul>
    <% @list_of_hometowns.each do |a_hometown| %>
      <li>
        <a href="/hometowns/<%= a_hometown.id %>">
          <%= a_hometown.name %>
        </a>
      </li>
    <% end %>
  </ul>
</article>