<h1>
  List of all friendships
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new friendship
    </h2>
  </header>

  <form action="/insert_friendship" method="post">
    <div>
      <label for="requester_id_box">
        Requester
      </label>

      <input type="text" id="requester_id_box" name="query_requester_id">
    </div>

    <div>
      <label for="recipient_id_box">
        Recipient
      </label>

      <input type="text" id="recipient_id_box" name="query_recipient_id">
    </div>

    <div>
      <label for="request_status_box">
        Request status
      </label>

      <input type="text" id="request_status_box" name="query_request_status">
    </div>

    <button type="submit">
      Create friendship
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_friendships.each do |a_friendship| %>
      <li>
        <a href="/friendships/<%= a_friendship.id %>">
          Friendship #<%= a_friendship.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
